<style>
.example-stretched-tabs {
  max-width: 800px;
}
.offset-md-4 {
    margin-left: 0% !important;
}
</style>
<h1>Hi {{userData.username}}!</h1>
<mat-tab-group>
    <mat-tab label="First"> 
        <div class="form-group">
            <label for="firstName">Name</label>
                <input type="text" class="form-control" value="{{userData.username}}" placeholder="Enter Name here"/>
                
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" readonly  class="form-control" value="{{userData.email}}"  placeholder="Enter email here"/>
            
          </div>    
    
    
    </mat-tab>
    <mat-tab label="Second"> 
        <div class="form-group">
            <label> Gender</label>
            <div>
            <input type="radio" [checked]="userData.gender == 'Male'" name="gender"/>
            <label for="Male">Male</label>
            <input name="gender" [checked]="userData.gender == 'Female'" type="radio"  id="Female"  />
            <label for="Female">Female</label>
          </div>
            
          </div>
        
          <div class="form-group">
            <label for="website">TechStack:</label>
            <div *ngFor="let tech of techstackList">
              <label>
                <input type="checkbox" [checked]="stackdata.indexOf(tech.id)>-1" [value]="tech.id" (change)="onCheckboxChange($event)" />
                {{tech.name}}
              </label>
            </div>
          </div>  
    </mat-tab>
    <mat-tab label="Third"><ag-grid-angular
        style="width: 500px; height: 500px;"
        class="ag-theme-blue"
        [enableSorting]='true'
         [enableFilter]="true"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
    >
    </ag-grid-angular>  </mat-tab>
  </mat-tab-group>
  
