<h3>User Registration</h3>
<form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
  <div class="form-group">
    <label for="firstName">Name</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': (submitted && fval.name.errors) || (fval.name.errors && !fval.name.pristine) }"  placeholder="Enter Name here"/>
        <div *ngIf="(fval.name.errors && !fval.name.pristine)  ||
        (fval.name.errors)" class="invalid-feedback">
            <div *ngIf="fval.name.errors.required">Name is required</div>
            <div *ngIf="fval.name.errors.patternInvalid">Name should be in alphabets</div>
            <div *ngIf="fval.name.errors.maxlength">Name should not exceed 50 character</div>
        </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': (fval.email.errors && !fval.email.pristine) || (submitted && fval.email.errors)}" placeholder="Enter email here"/> 
    <div *ngIf="fval.email.errors && !fval.email.pristine ||
    (fval.email.errors)" class="invalid-feedback">
        <div *ngIf="fval.email.errors.required">Email is required</div>
        <div *ngIf="fval.email.errors.email">Enter valid email address</div>
        <div *ngIf="fval.email.errors.mailNotAvailable">Email already exists</div>
    </div>
  </div>
 

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': (fval.password.errors && !fval.password.pristine) || (submitted && fval.password.errors)}" placeholder="Enter Password here"/>
    <div *ngIf="fval.password.errors && !fval.password.pristine ||
    (submitted && fval.password.errors)" class="invalid-feedback">
        <div *ngIf="fval.password.errors.required">Password is required</div>
        <div *ngIf="fval.password.errors.minlength">Password must be at least 6 characters</div>
        <div *ngIf="fval.password.errors.maxlength">Password should not exceed 50 character</div>
    </div>
    
  </div>

  <div class="form-group">
    <label for="dob">Dob</label>
    <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': (fval.dob.errors && !fval.dob.pristine) || (submitted && fval.dob.errors)}" placeholder="Enter DOB"/>
    <div *ngIf="fval.dob.errors  ||
    (submitted && fval.dob.errors)" class="invalid-feedback">
        <div *ngIf="fval.dob.errors.required">Dob is required</div>
        <div *ngIf="fval.dob.errors.ageInvalid">Dob must be greater than 20</div>
    </div>
    
  </div>

  <div class="form-group">
    <label> Gender</label>
    <input type="radio" checked="checked" formControlName="gender" id="Male" value="Male" style="margin-left: 10px;"/>
    <label for="Male">Male</label>
    <input type="radio" id="Female" formControlName="gender" value="Female" style="margin-left: 10px;"/>
    <label for="female">Female</label>
   
    
  </div>

  <div class="form-group">
    <label for="website">TechStack:</label>
    <div *ngFor="let tech of techstackList">
      <label>
        <input type="checkbox" [value]="tech.id" (change)="onCheckboxChange($event)" />
        {{tech.name}}
      </label>
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Register
    </button>
    <a routerLink="/login" class="btn btn-link">Login to continue</a>
</div>
</form>