
<!-- main app container -->
<div class="jumbotron">
  <a *ngIf="currentUser" class="nav-item nav-link" style="cursor:pointer;float:right" (click)="logout()">Logout</a>
  <div class="container">
    <div class="row">
      <div class="col-md-12 offset-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
